@import './../../scss/global.scss';
.content {
  @include content;
  .infoSection {
    display: flex;
    margin-top: 4rem;
    height: auto;
    padding: 1rem 3rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    @include devices(mobile) {
      margin-top: 1rem;
      gap: 2rem;
      padding: 1rem 0;
    }
    @include devices(laptop) {
      padding: 1rem 4rem;
    }
    @include devices(desktop) {
      padding: 1rem 4rem;
    }
    @include devices(desktopLarge) {
      padding: 1rem 6rem;
    }
    .videoWrapper {
      width: 45%;
      position: relative;
      height: 600px;
      @include devices(mobile) {
        width: 80%;
        height: 300px;
      }
      .video {
        position: absolute;
        @include devices(mobile) {
          left: 0;
        }
      }
    }
    .photosWrapper {
      width: 55%;
      height: 600px;
      position: relative;
      @include devices(mobile) {
        width: 80%;
        height: 350px;
      }
      .person1 {
        position: absolute;
        top: 0;
        @include devices(desktopLarge) {
          left: 170px;
        }
      }
      .person2 {
        position: absolute;
        top: 100px;
        right: 250px;
        @include devices(desktopLarge) {
          right: 0;
        }
        @include devices(laptop) {
          right: 0;
        }
        @include devices(mobile) {
          right: 0;
        }
      }
      .person3 {
        position: absolute;
        top: 320px;
        left: 100px;
        @include devices(mobile) {
          left: 0;
          top: 200px;
        }
        @include devices(laptop) {
          left: 0;
        }
      }
    }
  }
  .bottomSection {
    text-align: center;
    margin-top: 2rem;
    @include devices(mobile) {
      padding: 0 1rem;
      margin-bottom: 5rem;
    }
    .bottomOutlined {
      color: transparent;
      -webkit-text-stroke: 1px $color-text;
      font-family: 'Bold';
      font-size: 54px;
      margin-bottom: 2rem;
      @include devices(mobile) {
        font-size: 30px;
        margin-bottom: 1.5rem;
      }
    }
    .bottomHeader {
      font-size: 32px;
      font-family: 'Medium';
      @include devices(mobile) {
        font-size: 20px;
        margin-top: 1rem;
      }
    }
    .bottomText {
      font-size: 18px;
      font-family: 'Light';
      margin-top: 1rem;
      @include devices(mobile) {
        font-size: 14px;
      }
    }
  }
}
