@import './../../scss/global.scss';
.content {
  @include content;
  .infoSection {
    display: flex;
    margin-top: 4rem;
    height: 700px;
    padding: 1rem 0;
    .videoWrapper {
      width: 40%;
      display: flex;
      margin-left: 250px;
      align-items: center;
    }
    .photosWrapper {
      width: 60%;
      position: relative;
      .person1 {
        position: absolute;
        top: 0;
      }
      .person2 {
        position: absolute;
        top: 100px;
        right: 250px
      }
      .person3 {
        position: absolute;
        top: 350px;
        left: 100px;
      }
    }
  }
  .bottomSection{
    text-align: center;
    margin-top: 2rem;
    .bottomHeader{
      font-size: 32px;
      font-family: "Medium";

    }
    .bottomText {
      font-size: 18px;
      font-family: "Light";
      margin-top: 1rem;

    }
  }
}
