@import './../../../scss/global.scss';

.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
  align-items: center;
  position: relative;
  .logo {
    width: 160px;
  }
}
