@import './../../scss/global.scss';

.wrapper {
  z-index: 1;
  position: relative;
  h3 {
    text-align: center;
    font-size: 54px;
    color: transparent;
    -webkit-text-stroke: 1px $color-text;
    font-family: 'Bold';
    padding: 8px;
    @include devices(mobile) {
      font-size: 40px;
    }
  }
}
