@import './../../scss/global.scss';

.wrapper {
  h3 {
    text-align: center;
    font-size: 54px;
    color: transparent;
    -webkit-text-stroke: 1px $color-text;
    font-family: 'Bold';
    padding: 16px;
  }
}
