@import './../../scss/global.scss';

.wrapper{
  z-index: 1;
  position: relative;
  h2 {
    overflow: hidden;
    text-align: center;
    font-size: 90px;
    font-family: "Bold";
    @include devices(mobile) {
      font-size: 50px;
    }
  }
  
  h2:before,
  h2:after {
    background-color: $color-text;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 358px;
    @include devices(mobile) {
      width: 60px;
    }
  }
  
  h2:before {
    right: 0.3em;
    margin-left: -50%;
  }
  
  h2:after {
    left: 0.3em;
    margin-right: -50%;
  }

  @include devices(desktopLarge) {
  margin-top: 7rem;
   }
 
   @include devices(desktop) {
    margin-top: 5rem;
   }
 
   @include devices(laptop) {
    margin-top: 4rem;
   }
 
   @include devices(mobile) {
     margin-top: 1rem;
   }
}

