@import './../../scss/global.scss';


.wrapper{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  max-width: 312px;
  text-align: center;
  padding: 1rem;
  h4{
    font-size: 29px;
    font-family: "Medium";
  }
  span{
    font-size: 14px;
    font-family: "Medium";
  }
  p{
    font-size: 14px;
    font-family: "Light";
    margin-top: 14px;
  }
}