@import './../../../scss/global.scss';
.container {
  cursor: pointer;
  .imageWrapper {
    position: relative;
    width: 280px;
    height: 280px;
    @include devices(mobile) {
      width: 150px;
      height: 150px;
    }
    img {
      height: 250px;
      width: 250px;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      @include devices(mobile) {
        width: 120px;
        height: 120px;
      }
    }
    .imgOutline {
      position: absolute;
      z-index: 1;
      height: 250px;
      width: 250px;
      border: 2px solid $color-text;
      border-radius: 15px;
      left: 0px;
      top: 0px;
      @include devices(mobile) {
        width: 120px;
        height: 120px;
      }
    }
    .mainBtn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .modal {
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: #00000065;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    z-index: 4;
    .sidebar {
      width: 50%;
      background-color: $color-dark-purple;
      height: calc(100vh - 2rem);
      border-radius: 25px;
      margin-top: 1rem;
      padding: 4rem;
      @include devices(mobile) {
        width: 90%;
        padding: 1rem;
      }
      h2 {
        font-size: 3rem;
        @include devices(mobile) {
          font-size: 1.7rem;
          margin-top: 2rem;
        }
      }
      .main {
        margin-top: 5rem;
        display: flex;
        @include devices(mobile) {
          flex-direction: column;
        }
        div {
          width: 50%;
          font-size: 1.7rem;
          font-family: 'Light';
          @include devices(mobile) {
            margin-top: 1rem;
            font-size: 1rem;
            width: 80%;
          }
        }
      }
    }
    .sidebarBtn {
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      @include devices(mobile) {
        margin-top: 1rem;
        margin-left: 0;
      }
    }
  }
}
