@import './../../../scss/global.scss';

.wrapper {
  position: relative;
  padding: 0 2rem;
  h2 {
    font-family: 'Medium';
  }
  .mainWrapper {
    display: flex;
    justify-content: space-between;
    @include devices(mobile) {
      flex-wrap: wrap;
    }
    .textWrapper {
      width: 863px;
      padding-top: 12rem;
      @include devices(mobile) {
        width: 380px;
        padding-top: 3rem;
      }
      .text {
        font-size: 72px;
        font-weight: 800;
        line-height: 72px;
        @include devices(mobile) {
          font-size: 42px;
          line-height: 36px;
        }
      }
      .coloredText {
        font-size: 90px;
        line-height: 42px;
        font-family: 'Bold';
        @include devices(mobile) {
          font-size: 46px;
          line-height: 30px;
        }
      }
      .subText {
        width: 600px;
        text-align: left;
        position: relative;
        margin-top: 5rem;
        @include devices(mobile) {
          width: 300px;
          margin-top: 2rem;
        }
        h3 {
          font-size: 32px;
          font-family: 'Medium';
          @include devices(mobile) {
            font-size: 20px;
          }
        }
        div {
          width: 110px;
          height: 3px;
          position: absolute;
          margin-top: 10px;
          left: 0;
        }
        span {
          display: inline-block;
          margin-top: 2rem;
          font-size: 18px;
          font-family: 'Thin';
          @include devices(mobile) {
            font-size: 14px;
          }
        }
      }
    }

    .image {
      @include devices(mobile) {
        order: 1;
      }
    }
  }

  .final {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include devices(mobile) {
      margin-top: 3rem;
    }
    .textFinal {
      font-size: 2rem;
      margin-top: 24px;
      line-height: 38px;
      margin-bottom: 24px;
      @include devices(mobile) {
        font-size: 1.4rem;
        line-height: 28px;
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }
  }

  .finalImg {
    width: 600px;
    height: 600px;
    @include devices(mobile) {
     
    }
  }
}

.videoWrapper {
  video {
    width: 100%;
    position: fixed;
    height: 300vh;
    top: 0;
    object-fit: cover;
  }
}
