@import './../../scss/global.scss';
.content{
  @include content;
  .map{
    width: 1351px;
    height: 1296px;
    margin: 0 auto;
    margin-top: -12rem;
  }
  .bottomSection{
    text-align: center;
    margin-top: 2rem;
    .bottomHeader{
      font-size: 32px;
      font-family: "Medium";

    }
    .bottomText {
      font-size: 18px;
      font-family: "Light";
      margin-top: 1rem;

    }
  }
}