@import './../../scss/global.scss';
.button {
  z-index: 3;
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: $color-text;
  outline: none;
  border: none;
}