@import './../../scss/global.scss';
.content {
  @include content;
  .cardsWrapper {
    display: flex;
    justify-content: center;
    gap:120px;
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    @include devices(mobile) {
      margin-top: 2rem;
      margin-bottom: 3rem;
      gap: 60px;
    }
  }
}
