@import './../../scss/global.scss';
.content {
  margin-top: 7rem;
  @include devices(mobile) {
    margin-top: 1rem;
  }
  @include devices(tablet) {
    margin-top: 1rem;
  }
  .cardsWrapper {
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    @include devices(mobile) {
      margin-top: 2rem;
      margin-bottom: 3rem;
      gap: 60px;
    }
  }
}
