@import './../../scss/global.scss';
.content {
  @include content;
  .cardsWrapper {
    display: flex;
    justify-content: center;
    gap:120px;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
}
