// Media queries

@mixin devices($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (min-width: 320px) and (max-width: 480px)  {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 481px) and (max-width: 768px)  {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1024px) and (max-width: 1680px) {
      @content;
    }
  }
  @if $breakpoint == desktopLarge {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }
}

@mixin content {
  @include devices(desktopLarge) {
   width: 1680px;
   margin: 0 auto;
  }

  @include devices(desktop) {
    width: 1280px;
    margin: 0 auto;
  }

  @include devices(laptop) {
    padding: 0 3rem;
    width: 100%;
    margin-top: 2rem;
  }
  @include devices(tablet) {
    padding: 0 2rem;
    width: 100%;
    margin-top: 2rem;
  }

  @include devices(mobile) {
    padding: 0 1rem;
    width: 100%;
    margin-top: 2rem;
  }

  
}
