// Theme Colours
$color-converge: #343358;
$color-intelligence: #9D76B3;
$color-technology: #FEC977;
$color-talent: #FB887B;
$color-engineering: #61E7CD;
$color-text: #fff;
$color-dark-purple: #3C3A77;
$color-dark-purple: #0b0214;
// breakpoints
$mob-start: 374px;
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;
$page-width: 1600px;


// #333159
// #3A3D79
// #884A57
// #9B5545
// #959862
// #87A08A
// #817AAF
