// Theme Colours
$color-converge: #343358;
$color-intelligence: #9D76B3;
$color-technology: #FEC977;
$color-talent: #FB887B;
$color-engineering: #61E7CD;
$color-text: #fff;
$color-dark-purple: #3C3A77;

