#ellipse-purple {
  animation: spin 30s linear infinite;
  
  transform-origin: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#Ellipse11 {
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 160;
  }
 30% {
    stroke-dashoffset:100;
  }
  50% {
    stroke-dashoffset:100;
  }
  60% {
    stroke-dashoffset: 160;
  }
  100% {
    stroke-dashoffset: 160;
  }
}